/ex_6_1_1.csv
/content/Выручка_по_компаниям.xlsx
/ex_6_3.csv
/ex_6_4.csv
/ex_6_6.csv
/ex_6_1.csv
/Data_Analys_and_ML.ipynb
/DA_with_Pandas_1.ipynb
/123.py
/ML.ipynb
/content/
/ex_6_1.csv
/Data_Analys_and_ML.ipynb
/DA_with_Pandas_1.ipynb
/123.py
/ML.ipynb
/content/
